/* This will target my div name "container" in the HTML file */
#container {
    height: 200px;
    border: 1px solid black;
    border-radius: 5px 10px 5px 10px;
    background-color: red;
    margin-top: 25px;
    padding: 50px;
    text-align: center;
}

/* This will target my <h1> tag in the HTML file */
h1 {
    text-align: center;
}