/* This will target my div name "container" in the HTML file */
#container {
    height: 202px;
    border: 1px solid black;
    border-radius: 5px 10px 5px 10px;
    background-color: blue;
    margin-top: 130px;
    padding: 50px;
    text-align: center;
}

/* This will target my <h1> tag in the HTML file */
h1 {
    text-align: center;
    font-size: 50px;
    color: yellow;
}

/* This will target my div element name "number" in the HTML file */
#number {
    font-size: 50px;
    margin-bottom: 25px;
    color: yellow;
}

/* This will target my div element name "increment" in the HTML file */
#increment {
    height: 50px;
    width: 50px;
    font-size: 25px;
}

/* This will target my div element name "decrement" in the HTML file */
#decrement {
    height: 50px;
    width: 50px;
    font-size: 25px;
}